<dl>
	<dt><label for="avatars_type_r">Avatars ronds{{ L_COLON }}</label></dt>
	<dd>
		<label for="avatars_type_r"><input type="radio" name="user_avatar_rond" id="avatars_type_r" value="1"{% if S_AVATARS_ROND == 1 %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label for="avatars_type_c"><input type="radio" name="user_avatar_rond" id="avatars_type_c" value="0"{% if S_AVATARS_ROND != 1 %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
	</dd>
	<dt><label for="color_style">Couleur du thème{{ L_COLON }}</label></dt>
	<dd>
		<select name="color_style" id="color_style">
            <option value=""{% if not S_COLOR_STYLE %} selected="selected"{% endif %}>Classique</option>
            <option value="blue"{% if S_COLOR_STYLE == 'blue' %} selected="selected"{% endif %}>bleu</option>
            <option value="red"{% if S_COLOR_STYLE == 'red' %} selected="selected"{% endif %}>rouge</option>
		</select>
	</dd>	
</dl>
