<dl>
	<dt><label for="avatars_type_r">Avatars ronds{L_COLON}</label></dt>
	<dd>
		<label for="avatars_type_r"><input type="radio" name="user_avatar_rond" id="avatars_type_r" value="1"<!-- IF S_AVATARS_ROND == 1 --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="avatars_type_c"><input type="radio" name="user_avatar_rond" id="avatars_type_c" value="0"<!-- IF S_AVATARS_ROND != 1 --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
